@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

@layer base {
    html {
        font-size: 16px; /* Base font size */
    }
    
    body {
        font-size: 1.05rem; /* Slightly larger than base for better readability */
    }
    
    p {
        font-size: 1.05rem;
        line-height: 1.6;
    }
    
    h1 {
        font-size: 2.25rem;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    input, button, select, textarea {
        font-size: 1.05rem;
    }
    
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    @media (max-width: 768px) {
        html {
            font-size: 15px;
        }
    }
}

::-webkit-scrollbar {
  display: none;
}